.news {
  background-image: url("/news_bg.png");
  background-size: cover;
  box-shadow: inset 1000px 1000px 1000px 1000px #f4f4f4f7;
  position: relative;
}

.news::before {
  background: linear-gradient(180deg, #3d9ec5 0, #cf67be 67%);
  content: "";
  left: -15%;
  height: 100%;
  position: absolute;
  top: 0;
  width: 43%;
}

.btn_title {
  background: linear-gradient(90deg, #3d9ec5 0, #cf67be 67%);
}

.readLink {
  display: inline-block;
  position: relative;
  width: max-content;
}

.readLink::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f472b6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.readLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
