.images_tech {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
.images_tech:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
}
