.images_tech {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
.images_tech:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
}

.technologyIcons {
  background-image: url("/public/images/tech_bg.png");
  background-size: cover;
  box-shadow: inset 1000px 1000px 1000px 1000px #ffffff82;
}

.imgIcon {
  width: 68px;
  height: 60px;
  position: relative;
}
