.counter div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter div h1 {
  font-size: 48px;
  font-weight: bold;
  background-color: #7f75fc;
  background-image: linear-gradient(to right, #5c93c4, #cf67be) !important;
  background-size: 100%;
  -webkit-box-decoration-break: clone;
  -webkit-background-clip: text !important;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  box-decoration-break: clone;
  background-attachment: scroll;
  background-position: 0 0;
  background-repeat: repeat;
}

.counter div h2 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(105, 103, 103);
}
