.counter div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.counter div h1 {
  font-size: 52px;
  font-weight: 700;
  background-color: #7f75fc;
  background-image: linear-gradient(to right, #5c93c4, #cf67be) !important;
  background-size: 100%;
  -webkit-box-decoration-break: clone;
  -webkit-background-clip: text !important;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  box-decoration-break: clone;
  background-attachment: scroll;
  background-position: 0 0;
  background-repeat: repeat;
}

.counter div h2 {
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

@media screen and (max-width: 767px) {
  .counter div h1 {
    font-size: 38px;
  }
  .counter div h2 {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .counter div h1 {
    font-size: 38px;
  }
  .counter div h2 {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .counter div h1 {
    font-size: 44px;
  }
  .counter div h2 {
    font-size: 16px;
  }
}
