.header .logo {
  width: 200px;
  height: 50px;
  position: relative;
}

.header {
  background-color: #fffbfd;
  border-bottom: 1px solid #0000000f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header .item_left {
  flex: 0 0 17%;
}
.header .item_center {
  flex: 0 0 66%;
}

.header .item_right {
  flex: 0 0 17%;
}

.header .menu > ul > li {
  display: inline-block;
  margin-right: 20px;
  line-height: 50px;
}

.header .menu > ul > li > a > i {
  color: #333333c0;
}

.header .menu > ul > li > a {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  color: #333;
}

.header .menu > ul > li .sub_menu {
  position: absolute;
  z-index: 5;
  background-color: #fffbfd;
  padding: 20px 30px;
  transition: all 0.3s ease;
  margin-top: 8px;
  visibility: hidden;
  opacity: 0;
}

.header .menu > ul > li.children:hover .sub_menu {
  /* margin-top: 0; */
  visibility: visible;
  opacity: 1;
}

.header .menu > ul > li.children:hover > a > i {
  transition: 0.8s;
  transform: rotateZ(180deg);
}

.header .menu > ul > li .sub_menu.mega {
  left: 50%;
  transform: translateX(-50%);
}

.header .menu > ul > li .sub_menu.mega > .list_item > ul > li {
  display: block;
  line-height: 30px;
}

.header .menu > ul > li .sub_menu.mega > .list_item > ul > li > a {
  display: inline-block;
  color: black;
  font-weight: 500;
  line-height: 25px;
  font-size: 15px;
}

.header .menu > ul > li .sub_menu.column_4 {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}
.header .menu > ul > li .sub_menu.column_3 {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}

.header .menu > ul > li .sub_menu.column_4 > .list_item {
  flex: 0 0 25%;
  padding: 0 15px;
}
.header .menu > ul > li .sub_menu.column_3 > .list_item {
  flex: 0 0 33.33%;
  padding: 0 15px;
}

.header .menu > ul > li .sub_menu.column_4 > .list_item .title {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.5;
  padding: 10px 0;
  color: #000000d9;
}
.header .menu > ul > li .sub_menu.column_3 > .list_item .title {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.5;
  padding: 10px 0;
  color: #000000d9;
}

.header .menu > ul > li .sub_menu > ul > li {
  line-height: 1;
}

.header .menu > ul > li .sub_menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
}

/* @media screen and (max-width: 1023px) {
  .header {
    display: none;
  }
} */

.sub_menu.column_3 .list_item a .imgC {
  width: 100%;
  height: 300px;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .header {
    display: none;
  }
}
