@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: "Poppins", sans-serif;
}

.heading {
  @apply text-[#050748] lg:text-[30px] sm:text-[25px] text-[20px] leading-[32px] sm:leading-[43px] font-semibold;
}

.small_heading {
  @apply text-black lg:text-[24px] sm:text-[20px] text-[18px] leading-[32px] sm:leading-[43px] font-semibold;
}

.redHeading {
  @apply text-[#e60072] text-[16px] font-normal;
}

.desc {
  @apply text-[14px] leading-[24px];
}

.blog_translate {
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1279px) {
  #headers {
    display: none;
  }
}
