@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: "Poppins", sans-serif;
}

.btn {
  @apply bg-gradient-to-r hover:bg-gradient-to-r from-cyan-500  to-pink-500 py-2 hover:from-pink-500 hover:to-cyan-500 transition-all hover:duration-200 px-5 rounded-3xl text-white font-medium;
}

.outline_btn {
  @apply hover:bg-gradient-to-r  py-2 hover:from-pink-500 hover:to-cyan-500 transition-all hover:duration-200 px-5 rounded-3xl hover:text-white border border-black hover:border-gray-200 font-medium;
}

.black_heading {
  @apply text-[55px]   font-semibold leading-[60px];
}
.sub_heading {
  @apply text-[40px] font-semibold leading-[50px];
}

.hero_heading {
  @apply lg:text-[60px] md:text-[44px] text-[30px]  font-semibold lg:leading-[70px] md:leading-[52px] leading-[42px] bg-gradient-to-r from-cyan-400 via-pink-500 to-pink-600 bg-clip-text text-transparent drop-shadow-md;
}
.gradient_heading {
  @apply text-[60px] font-bold text-center leading-[70px] bg-gradient-to-b from-pink-600  to-pink-500 bg-clip-text text-transparent drop-shadow-md;
}

.heading {
  @apply text-[#050748] lg:text-[30px] sm:text-[25px] text-[20px] leading-[32px] sm:leading-[43px] font-semibold;
}

.small_heading {
  @apply text-black lg:text-[24px] sm:text-[20px] text-[18px] leading-[32px] sm:leading-[43px] font-semibold;
}

.redHeading {
  @apply text-[#e60072] text-[16px] font-normal;
}

.desc {
  @apply text-[14px] leading-[24px];
}

.blog_translate {
  transform: translate(-50%, -50%);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

@media screen and (max-width: 1279px) {
  #headers {
    display: none;
  }
}
