.hover_img {
  cursor: pointer;
}

.hover_img:hover .mobImg {
  transform: translateY(-10px);
}

.mobImg {
  box-shadow: 0 13px 13px -10px rgba(0, 0, 0, 0.06),
    0px 25px 40px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease-in-out;
}

.heading_underline::after {
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background: linear-gradient(to right, #3d9ec5 0, #cf67be 67%);
  position: absolute;
}
