.title_footer {
  position: relative;
  margin: 20px 0 20px;
  color: #333;
}

.title_footer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100px;
  height: 3px;
  background: #333;
}

.footer_head ul li {
  line-height: 1.6;
}

.footer_head ul li a {
  font-size: 13px;
}

.middle_footer ul li {
  float: left;
  padding-right: 5px;
}

.middle_footer ul li a {
  color: #000;
  font-size: 13px;
  line-height: 23px;
}

li.stock {
  position: relative;
  top: 1px;
}
