.link_learn {
  display: inline-block;
  position: relative;
}

.link_learn::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #cf67be;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link_learn:hover span {
  color: #cf67be;
}

.link_learn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.service {
  color: white;
}

.service:before {
  -webkit-animation: service 5s ease infinite;
  animation: service 5s ease infinite;
  background: linear-gradient(-45deg, #3d9ec5, #cf67be);
  background-size: 400% 400%;
  background-size: contain;
  content: "";
  height: 400px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}

.card {
  border: 1px solid #d4f0ff;
}

.servicesImg {
  width: 80px;
  height: 80px;
  position: relative;
}
